<mat-toolbar>
  <div class="flex1">FF XIV - Exarch Calculator ({{ done }} / {{ maxDone }})</div>
  <div class="lang">
    <mat-form-field>
      <mat-select [value]="languageService.language.value" (selectionChange)="languageService.set($event.value)">
        <mat-option *ngFor="let lang of languageService.languages" [value]="lang">
          {{ lang }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-progress-bar mode="determinate" [value]="progress" *ngIf="inProgress"></mat-progress-bar>
</mat-toolbar>
<div class="data">
  <!-- <app-currently-shown *ngFor="let item of itemsDone" [data]="item"></app-currently-shown> -->
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let item of itemsDone" [value]="item">
      <app-currently-shown [data]="item"></app-currently-shown>
    </mat-list-option>
  </mat-selection-list>
</div>