/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #303030;
}

mat-expansion-panel,
mat-expansion-panel * {
    transition: none !important;

    mat-panel-title {
        flex: 1;
    }
    mat-panel-description {
        flex-grow: 0 !important;
    }
}

.flex1 {
    flex: 1;
}